* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Es para dar color al fondo*/
    background: black;
    /* Es para dar color al texto*/
    color: white;

    /* */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

h1 {
    color: red;
}

h6 {
    color: blue;
    margin-bottom: 20px;
}

p {
    color: #09f;
}

